@CHARSET "ISO-8859-1";

.email_field1 {
	 
	width: 80% !important;
	height: 28px;
}
.circle {
	display: inline-block;
	width: 80px;
	/*height: 70px;*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	/*-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;*/
	border: 5px solid #FFF;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.select2-search__field{
	height: 100% !important;
}

.table th, .table td {
	border-top: 1px solid #dddddd;
	line-height: 15px;
	padding: 8px;
	text-align: left;
	vertical-align: text-top;
}

.backTodashBoradButton {
	min-width: 120px;
}

.checkbox>input[type="checkbox"] {
	margin: 3px 4px 0;
}

.radioButton>input[type="radio"] {
	margin: -2px 2px 0;
}

.tarea {
	height: 66px !important;
	width: 80% !important;
	resize: none;
}

.radiobtn>input[type="radio"] {
	margin: 0 3px 2px 15px;
}

.schoolName {
	color: #3C3C3C;
	text-shadow: 0 1px 1px #FFFFFF;
	text-transform: capitalize;
}

.left_panel {
	background-color: #f6f6f6;
	border: 1px solid #dddddd;
	box-sizing: border-box;
	float: left;
	min-height: 125px;
	width: 25%;
	word-wrap: break-word;
	padding: 3px;
	position: fixed;
}

#search-form {
	background-color: #f6f6f6;
	border: 1px solid #dddddd;
	box-sizing: border-box;
	min-height: 40px;
	width: 85%;
	min-width: 1025px;
}

.form {
	text-align: center;
}

.center_block {
	border: 1px solid #dddddd;
	box-sizing: border-box;
	display: block;
	padding: 3px;
	position: relative;
	z-index: 0;
	margin-bottom: 20px;
}

.center_block_display_detail {
	border: 1px solid #dddddd;
	box-sizing: border-box;
	display: block;
	padding: 3px;
	position: relative;
	margin-bottom: 20px;
	z-index: 0;
	width: 75%;
	left: 26%;
}

.container {
	min-width: 1170px;
	padding-top: 10px;
}

.school-banner {
	color: inherit;
	font-size: 18px;
	font-weight: 200;
	line-height: 60px;
	background: #F6F6F6;
	border-bottom: 1px solid #DDD;
}

.admissionForm {
	padding: 5px;
}

.schoolDivision {
	margin-right: 25px;
	margin-left: 25px;
}

.mainLegend {
	text-align: center;
}

input {
	width: 100%;
	/* padding: 10px;
	margin: 3px; */
}

.button {
	padding: 5px;
	margin: 3px;
}

label {
	text-align: justify;
}

.mainContainer {
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 5%;
	padding-right: 5%;
	min-width: 1000px;
	border: 2px;
	border: thin;
	border-color: gray;
}

#applicationStatus {
	padding: 10px;
	text-align: center;
	font-size: 22px;
	font-style: italic;
}

.input-mid {
	width: 200px;
	margin-left: 00px;
}

.editapplication {
	min-width: 1000px;
	margin-left: 5%;
	margin-right: : 5%;
}

.header-block {
	min-width: 1030px;
}

#action_button {
	position: fixed;
	z-index: 1;
	background: #999999;
	width: 97%;
	margin-right: 10px;
}

#detailBox {
	top: 76px;
}

.tick {
	background-image: url("../../lib/images/tick.png");
	background-repeat: no-repeat;
}

.heading {
	border-color: #e5e5e5;
	border-image: none;
	border-style: none none solid;
	border-width: 0 0 1px;
	color: #333333;
	display: flex;
	align-items: center;
	font-size: 21px;
	line-height: 40px;
	margin-bottom: 20px;
	padding: 0;
	width: 100%;
}

.astrik {
	width: 5px;
	display: inline;
	margin-left: 5px;
	color: red;
	font-size: 23px;
}

.astrikHeding {
	width: 5px;
	display: inline;
	margin-left: 5px;
	margin-top:10px;
	color: red;
	font-size: 23px;
}

.customWidth{
	width: 150px;
}

.customfield-dropdown{
	min-width: 600px;
	position: relative;
}
.autocomplete-items {
	background: aliceblue;
    width: 200px;
    padding-left: 10px;
}

div.autocomplete-items div {
        width: 200px;
}
.autocomplete-active{
	background: #0080ff;
    width: 190px !important;
    padding-left: 10px;
}



.select2-container .select2-selection--single{
	height: 31px !impoertant;
}

.cursor-pointer{
  cursor: pointer;
}
